<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of blogs</title>
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
    <p>List of blogs</p>
</body>
</html>